@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/public/fonts/glyphicons-halflings-regular.woff2") format("woff2"),
    url("/public/fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("/public/fonts/glyphicons-halflings-regular.ttf") format("truetype");
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Icons */
.glyphicon-asterisk::before {
  content: "\002a";
}
.glyphicon-plus::before {
  content: "\002b";
}
.glyphicon-euro::before {
  content: "\20ac";
}
.glyphicon-cloud::before {
  content: "\2601";
}
.glyphicon-envelope::before {
  content: "\2709";
}
.glyphicon-pencil::before {
  content: "\270f";
}
/* .glyphicon-glass::before {
  content: "\e001";
}
.glyphicon-music::before {
  content: "\e002";
}
.glyphicon-search::before {
  content: "\e003";
}
.glyphicon-heart::before {
  content: "\e005";
}
.glyphicon-star::before {
  content: "\e006";
}
.glyphicon-user::before {
  content: "\e008";
}
.glyphicon-film::before {
  content: "\e009";
}
.glyphicon-th-large::before {
  content: "\e010";
}
.glyphicon-th::before {
  content: "\e011";
}
.glyphicon-th-list::before {
  content: "\e012";
}
.glyphicon-ok::before {
  content: "\e013";
}
.glyphicon-remove::before {
  content: "\e014";
}
.glyphicon-zoom-in::before {
  content: "\e015";
}
.glyphicon-zoom-out::before {
  content: "\e016";
}
.glyphicon-off::before {
  content: "\e017";
}
.glyphicon-signal::before {
  content: "\e018";
}
.glyphicon-cog::before {
  content: "\e019";
}
.glyphicon-trash::before {
  content: "\e020";
}
.glyphicon-home::before {
  content: "\e021";
}
.glyphicon-lock::before {
  content: "\e033";
}
.glyphicon-flag::before {
  content: "\e034";
}
.glyphicon-headphones::before {
  content: "\e035";
}
.glyphicon-volume-off::before {
  content: "\e036";
}
.glyphicon-volume-up::before {
  content: "\e038";
}
.glyphicon-qrcode::before {
  content: "\e039";
}
.glyphicon-barcode::before {
  content: "\e040";
}
.glyphicon-tag::before {
  content: "\e041";
}
.glyphicon-tags::before {
  content: "\e042";
}
.glyphicon-book::before {
  content: "\e043";
}
.glyphicon-bookmark::before {
  content: "\e044";
}
.glyphicon-print::before {
  content: "\e045";
}
.glyphicon-camera::before {
  content: "\e046";
}
.glyphicon-font::before {
  content: "\e047";
}
.glyphicon-bold::before {
  content: "\e048";
}
.glyphicon-italic::before {
  content: "\e049";
}
.glyphicon-text-height::before {
  content: "\e050";
}
.glyphicon-text-width::before {
  content: "\e051";
}
.glyphicon-align-left::before {
  content: "\e052";
}
.glyphicon-align-center::before {
  content: "\e053";
}
.glyphicon-align-right::before {
  content: "\e054";
}
.glyphicon-align-justify::before {
  content: "\e055";
}
.glyphicon-list::before {
  content: "\e056";
}
.glyphicon-indent-left::before {
  content: "\e057";
}
.glyphicon-indent-right::before {
  content: "\e058";
}
.glyphicon-facetime-video::before {
  content: "\e059";
}
.glyphicon-picture::before {
  content: "\e060";
}
.glyphicon-map-marker::before {
  content: "\e062";
} */
